@model IEnumerable<worldStockLab.Web.Models.StockPrice>

<h2>Stock Market</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>股票代码 Symbol</th>
            <th>股票价格 Price</th>
            <th>涨跌 Change</th>
            <th>涨跌幅度 Change %</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var stock in Model)
        {
            <tr>

                <!-- 股票代码 -->
                <td>@stock.Symbol</td>

                <!-- 当前价格 -->
                <td>@stock.Price</td>

                <!-- 涨跌 -->
                <td>@stock.Change</td>

                <!-- 涨跌幅 -->
                <td>@stock.ChangePercent %</td>

                <!-- 查看详情 -->
                <td>
                    <a href="/stock/detail/@stock.Symbol">
                        View
                    </a>
                </td>

            </tr>
        }

    </tbody>

</table>