@model List<Article>

<h2>标签文章</h2>

@foreach (var article in Model)
{
    <div>

        <h3>
            <a href="/blog/@article.Slug">
                @article.Title
            </a>
        </h3>

        <p>@article.Summary</p>

    </div>
}