@model List<Article>

<h2>搜索结果</h2>

<p>关键词:@ViewBag.Query</p>

@foreach (var article in Model)
{
    <div>
        <h3>
            <a href="/blog/@article.Slug">
                @article.Title
            </a>
        </h3>
            <p>@article.Summary</p>
    </div>
}